@import "./variables.less";
#root {
  width: 100%;
  height: 100%;
  background-color: #f4f9f9;
}

.icon-wrap {
  padding: 6px;
  border-radius: 3px;
  background-color: #f3f3f3;
  &:hover {
    background-color: #e0e0e0;
  }
}

.icon-padding-4 {
  padding: 4px;
}
.ant-table-wrapper {
  height: 100%;
  .ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      .ant-table {
        flex: 1;
        overflow: hidden;
        .ant-table-container {
          height: 100%;
          display: flex;
          flex-direction: column;
          .ant-table-header {
            flex: 0 0 55px;
            overflow: hidden;
          }
          .ant-table-body {
            flex: 1;
            > table {
              height: 100%;
            }
          }
        }
      }
      .ant-table-pagination.ant-pagination {
        flex: 0 0 32px;
        margin: 8px 0;
      }
    }
  }
}
