.curriculum-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  .cd-top {
    flex: 0 0 56px;
    overflow: hidden;
  }
  .cd-bottom {
    flex: 1;
    overflow: hidden;
  }
}

.curriculum-content {
  height: 100%;
  display: flex;
  .cc-left {
    flex: 0 0 258px;
    overflow: hidden;
  }
  .cc-right {
    flex: 1;
    overflow: hidden;
  }
}
