@import "styles/variables.less";
.platform-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .pw-header {
    flex: 0 0 48px;
    background-color: @primary-color;
    .header-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      font-size: 22px;
      color: #a3d2ca;
      .hw-title-wrapper {
        display: flex;
        align-items: center;
        font-size: 26px;
        .hw-title {
          padding-left: 8px;
          font-size: 21px;
        }
      }
    }
  }
  .pw-body {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    .pw-menu {
      overflow: hidden;
      background-color: transparent !important;
      padding-right: 4px;
      transition: flex 0.2s ease-in-out;
      .menu-wrapper {
        height: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px #d0d7df;
        .ant-menu-inline{
          border: none;
        }
      }
    }
    .pw-content {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 12px;
      .pw-operation-area {
        flex: 0 0 62px;
        overflow: hidden;
        .operation-area-wrapper {
          display: flex;
          width: 100%;
          height: 100%;
          .oaw-container {
            flex: 1;
            overflow: hidden;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0 16px;
            margin: 4px;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0px 0px 4px 0px #d0d7df;
            .oaw-left {
              flex: 0 0 500px;
              display: flex;
              align-items: center;
              > span:first-child {
                padding: 6px;
                font-size: 18px;
                margin-right: 16px;
                background-color: #f6f6f6;
                border-radius: 4px;
              }
              > span:first-child:hover {
                background-color: #ecf4f3;
              }
            }
            .oaw-right {
              flex: 1;
              overflow: hidden;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
          }
        }
      }
      .pw-container {
        flex: 1;
        overflow: hidden;
      }
    }
  }
}
