.platform-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .pw-header {
    flex: 0 0 48px;
    background-color: #056676;
  }
  .pw-body {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    .pw-menu {
      flex: 0 0 248px;
      overflow: hidden;
      background-color: #fff;
    }
    .pw-content {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 12px;
      background-color: #f4f9f9;
      .pw-operation-area {
        flex: 0 0 62px;
        overflow: hidden;
      }
      .pw-container {
        flex: 1;
        overflow: hidden;
      }
    }
  }
}
